# Set this to something random. Save it in a safe place. [Required]
GPG_PASSWORD=

# Full path to backup. Do not include filenames.
# May be repeated more than once. [Required]
BACKUP_PATH=
BACKUP_PATH=

# Working directory to store files. Must have at least enough 
# space as what you are backing up. [Optional]
# 
# Defaults to: /tmp/amazon-s3-glacier-backup
WORKING_PATH=
