# Set this to something random. Save it in a safe place. 
# If not set or empty, then your files will not be encrypted.
GPG_PASSWORD=

# Which paths do you want to back up? (may be repeated)
BACKUP_PATH=/path/to/files/dir
BACKUP_PATH=/path/to/other-files/dir

# Working directory to store files so we don't run out of disk space
# must have at least enough space as what you are backing up.
WORKING_PATH=/path/to/working/dir
